<mat-dialog-content>
  <p>Заполните поля для добавления новой спецификации:</p>
  <mat-form-field>
    <mat-label>Position ID</mat-label>
    <input matInput [(ngModel)]="data.positionid" name="positionid">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Parent Position ID</mat-label>
    <input matInput [(ngModel)]="parentSpecification" name="parentPositionId">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantity Per Parent</mat-label>
    <input matInput [(ngModel)]="data.quantityPerParent" name="quantityPerParent">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Unit Measurement</mat-label>
    <input matInput [(ngModel)]="data.unitMeasurement" name="unitMeasurement">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="submitSpecification()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>