:host {
  display: block;
}

.specification {
  display: inline-block;
  margin: 10px;
}

.specification__item {
  display: flex;
  gap: 5px;
  align-items: center;
}

button.specification {
  background-color: rgb(209, 115, 94); /* Ваш цвет */
}

.tree {
  padding: 10px;
}

.specification__item-name {
  cursor: help;
}
