:host {
  display: block;
}

.example-card {
  display: inline-block;
  max-width: 400px;
  margin: 10px;
  background-color: antiquewhite;
}

.order {
  display: inline-block;
  margin: 10px;
}

button.order {
  background-color: rgb(243, 223, 123); /* Ваш цвет */
}
