:host {
  display: block;
}

.example-card {
  display: inline-block;
  max-width: 400px;
  margin: 10px;
  background-color: rgb(243, 242, 226);
}

div {
  display: flex;
  justify-content: left;
  margin: 10px;
  gap: 30px;
}

button.storage {
  background-color: rgb(234, 238, 141); 
}